
body{
	padding-top:30px;
	text-align:justify;
	font-family: 'Peddana', serif;
}



.img{
	background-image:url(../images/fleur1.jpg);
	background-size:80%;
	background-repeat:no-repeat;
	background-position:center;
	
	
}

.tab-content{
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding:10px;
	margin-bottom:50px;
	}


.title{
	color: #CCCCBF;
	text-shadow:4px 4px black;
}
.title p{
	font-size:2em;
}
.title h1{
	font-size:3em;
}
p, li a{
  font-size:1.5em;
}
